@{
    ViewBag.Title = "二级表格";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section js{
    <script src="/areas/griddemo/views/_js/master_detail.js" type="text/javascript"></script>
    @Html.Raw(ViewBag.Grid)
}
<div id="grid">
</div>
