USE [master]
GO
/****** Object:  Database [ThemeOne]    Script Date: 2015/9/1 1:44:57 ******/
CREATE DATABASE [ThemeOne] ON  PRIMARY 
( NAME = N'ThemeOne', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ThemeOne.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ThemeOne_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ThemeOne_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThemeOne].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThemeOne]
GO
/****** Object:  Table [dbo].[List]    Script Date: 2015/9/1 1:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[List](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](250) NULL,
	[productname] [varchar](250) NULL,
	[available] [bit] NULL,
	[date] [datetime] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_GridTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_info]    Script Date: 2015/9/1 1:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[List] ON 

INSERT [dbo].[List] ([id], [name], [productname], [available], [date], [quantity]) VALUES (1, N'hank', N'asp.mvc', 1, CAST(N'2014-01-01 00:00:00.000' AS DateTime), 100)
INSERT [dbo].[List] ([id], [name], [productname], [available], [date], [quantity]) VALUES (2, N'孙凯旋', N'ASP.NET MVC', 0, CAST(N'2015-09-01 00:00:00.000' AS DateTime), 1002)
INSERT [dbo].[List] ([id], [name], [productname], [available], [date], [quantity]) VALUES (6, N'131', N'1231', 0, CAST(N'2015-09-01 00:00:00.000' AS DateTime), 1231)
SET IDENTITY_INSERT [dbo].[List] OFF
SET IDENTITY_INSERT [dbo].[user_info] ON 

INSERT [dbo].[user_info] ([id], [user_name], [password]) VALUES (1, N'admin', N'21232F297A57A5A743894A0E4A801FC3')
SET IDENTITY_INSERT [dbo].[user_info] OFF
USE [master]
GO
