@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section js{
    <script src="/areas/formcontrol/views/_js/input_date.js" type="text/javascript"></script>
}
一定要DIV
<div id="input"></div>