@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section js{
    <script src="/areas/FormControl/views/_js/Jqxcombox.js" type="text/javascript"></script>
}
<div style="margin-top: 5px;" id='jqxComboBox'>
</div>

 
<input id="btnSelectedObjects" type="button" value="获取选中对象" />